doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Accelerate with numa
    link(href='css/style.css', rel='stylesheet')

  body
    .intro
      div.table
        div.cell
          div.logo: img(src="images/logo_numa_white.png", alt="NUMA")
          h1.heading Numa Casablanca
