doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Accelerate with numa
    link(href='css/style.css', rel='stylesheet')

  body
    .intro
      div.table
        div.cell
          div.logo: a(href="http://numa.co"): img(src="images/logo_numa_white.png", alt="NUMA")
          div.heading
            h1 NUMA Casablanca has just opened its doors!
            h2 The first international startup accelerator in Morocco <br> Stay tuned for the call for applications!
          div.alt
            a.btn(href="/assets/CP_NUMA_Casablanca_26102015_FR.pdf", target="_blank") Press Release (FR)