doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Accelerate with numa
    link(href='css/style.css', rel='stylesheet')
    link(href='//fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext', rel='stylesheet')


  body
    .intro
      a(href="http://www.numa.co"): img(src="images/numa-logo.png", alt="NUMA Casablanca", style="height:50px;margin:20px")
      div.table
        div.cell
          div.heading
            h1 Join the impact camp
            div.logo
              a(href="http://www.impactcamp.ma"): img(src="images/impact-camp.jpg", alt="NUMA Casablanca")
              //- a.btn.btn-apply(href="https://applycasa.numa.co/") Apply now
            h2 NUMA is an international accelerator bringing growth and human capital to promising and innovative startups
          div.alt
            | Get in touch with us at
            |  
            a(href="mailto:casablanca@numa.co") casablanca@numa.co


script(src='/js/analytics.js')
